<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comnickdchee.github.a3am">
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="3AM!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".Activities.ViewOwnedBook"></activity>
        <activity android:name=".Activities.RequestBookActivity"></activity>
        <activity android:name=".Barcode.BarcodeScanner"></activity>

        <activity android:name=".Activities.messageActivity"></activity>

        <provider
            android:name=".MySuggestionProvider"
            android:authorities="comnickdchee.github.a3am.MySuggestionProvider"
            android:enabled="true" />

        <activity
            android:name=".Activities.HomepageActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.ViewBookActivity" />
        <activity android:name=".Activities.NewBookActivity" />
        <activity android:name=".Activities.BorrowedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Activities.SearchResultsActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>